html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('berg.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
  margin-top: 80px;
}

a {
  color: #204156;
  text-decoration: none;
}

.page-title {
  text-align: left;
  margin-left: 120px;
  font-size: 58px;
  font-weight: 300;
}

.page-description {
  /* border: 1px solid #000; */
  /* background-color: #fff; */
  width: 30%;
  margin-left: 115px;
  text-align: left;
  padding: 6px;
  font-size: 22px;
}
.page-description2 {
  /* border: 1px solid #000; */
  /* background-color: #fff; */
  width: 34%;
  margin-left: 85px;
  text-align: left;
  padding: 6px;
  font-size: 22px;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.click-boxes {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h3 {
  margin-left: 60px;
  margin-top: 15px;
  font-weight: 300;
  font-size: 28px;
  color: white;
  float: left;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 0 10px;  
}

.link-1 {
  display: inline-block;
  text-align: left;
  background: url('Prototype_1.png');
  vertical-align: middle;
  width: 390px;
  height: 300px;
  font-size: 14px;
  margin: 5px;
  padding: 10px;
  border: 2px solid #DCDCDC;
  border-radius: 12px;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));  
}

.link-2 {
  display: inline-block;
  text-align: left;
  align-items: center;
  width: 566px;
  height: 300px;
  font-size: 14px;
  margin: 20px;
  padding: 10px;
  border: 2px solid #DCDCDC;
  border-radius: 12px;
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)); 
}

.link-3 {
  display: inline-block;
  text-align: left;
  align-items: center;
  width: 410px;
  height: 300px;
  font-size: 14px;
  margin: 20px;
  padding: 0;
  border: 2px solid #DCDCDC;
  border-radius: 12px; 
}

.image2{
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height:100%;
  max-width: 100%;
 
}

.image{
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height:100%;
  max-width: 100%;
}

/* HEADER NAVIGATION */

nav {
  background-color: #d1e0e0;
  top: 0;
  margin-bottom: 50px;
  width: 100%; 
  position: fixed;
  z-index: 1000;
  
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 15px;
  
}

nav ul {
  display: inline;
  font-weight: regular;
  
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 35px;
  padding: 4px 8px;
  border: 1px solid #204156;
  position: relative;

}

.contact-btn a:active {
  top: 1px;
}

nav a {
  height: 45px;
  line-height: 45px;
  color: #204156;
  text-decoration: none;
  font-size: 15px;
  
}

/* FOOTER */

.page-footer{
  background-color: #d1e0e0;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
}
