html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('ny_city2.jpeg');
  background-position: center top;
  background-size: cover;
  background-color: #fff;
  margin: 0;
  margin-top: 80px;
}

a {
  color: #204156;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
}

.page-description {
  border: 2px solid #900C3F;
  border-radius: 12px;
  color: #C70039;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
  margin-right: 70px;
  margin-left: 70px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

h3 {
  margin-left: 15px;
  font-weight: 700;
  font-size: 18px; 
  color: #900C3F; 
}

.workterms{
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 45px;

}

#waterloo{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px; 
}

#sanofi{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px;         
}

#fluor{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px;          
}

#jana{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px;       
}

#provident{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px;  
}

#bonavista{
  text-align: left;
  width: 240px;
  height: 110px;
  margin: 20px;
  padding: 0;
  border: 3px solid #900C3F;
  border-radius: 12px; 
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)); 
  font-weight: 400;
  font-size: 14px;    
}

/* HEADER NAVIGATION */

nav {
  background-color: #d1e0e0;
  position: fixed;
  top: 0;
  margin-bottom: 50px;
  width: 100%;  
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 15px;
}

nav ul {
  display: inline;
  font-weight: regular;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 35px;
  padding: 4px 8px;
  border: 1px solid #204156;
  position: relative;

}

.contact-btn a:active {
  top: 1px;
}

nav a {
  height: 45px;
  line-height: 45px;
  color: #204156;
  text-decoration: none;
  font-size: 15px;
}

/* FOOTER */

.page-footer{
  background-color: #d1e0e0;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
}
